[Job]
# 0 running on backup mode; 1 running on recovery mode
mode = 0

log_folder = "/volume1/backup/logs"

# The path used to compress files
packing_path = "/volume1/backup/compression"
# The path you wish to backup from
source_path = "/volume2/homes/Kevin Y/Drive/Moments/Kevin Y的相册"
# The path used to upload to baiduyun
baiduyun_sync_path = "/volume1/backup/photos"

file_prefix = ""