[job]
# 0 running on backup mode; 1 running on recovery mode
mode = 1
log_folder = /home/yuk4/workspace/temp/logs
# The path used to compress files
packing_path = /home/yuk4/workspace/temp/packaged_02
# The path you wish to backup from
source_path = /home/yuk4/workspace/temp/source_01
# The path used to upload to baiduyun
baiduyun_sync_path = /home/yuk4/workspace/temp/baiduyun_03
file_prefix = 2024_02_Iphone_KevinYu.tar.gz